

form{
  /* background-color: skyblue; */

  color: white;
  height: 100%;
  /* margin-bottom: 100px!important; */

  /* background-image: linear-gradient(#0F2027,#203A43,#2C5364); */
  background-color: rgba(227, 222, 222, 0.7);
}
body{
  
}
.bgo{
  background-color: white;
  /* background-color: #0F2027 !important; */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0% auto;
  padding: 0%;
  background-size: cover;
}
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* background-color:rgba(0, 0, 0, 0.4) !important; */
  color: #000000 !important;
  border: none;
  font-size: large;

}

thead th,
tbody th {
 color: rgb(255, 255, 255) !important;
 background-color: rgb(100, 104, 104) !important;
}

tbody td {
  font-weight: 700;
  color: rgba(255,255,255,.65);
  font-size: large;

}

.card {
  border-radius: .5rem;
}
.bgo{
  background-image: url(https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg) ;
  background-position: center;
}
.card-body{
  background-color: rgba(0, 0, 0, 0.4) !important;

}
.passbtn{
  background-color: grey !important;
  color: white !important;
  margin-left: 5px!important;
}
.passbtn:hover{
  background-color: rgb(255, 255, 255) !important;
  color: gray !important;
margin-left: 5px;
  border: 1px solid grey !important;
}
.firsthead td {
  background-color: aqua !important;
  width: 100%;
}

